{% extends '/base.html' %}

{% block content %}
  <p>
    hi, {{current_user.username}} ({{current_user.email}})!
  </p>
  <form class="" method="POST" action="" accept-charset="UTF-8" role="form">
    {{form.csrf_token}}  
    {{render_field(form.username, show_label="T")}}<br/>
    {{render_field(form.password, show_label="T", placeholder="enter new password")}}<br/><br/>
    <button id="submit" type="submit" name="submit" >
      <i class="fal fa-save"></i> save changes
    </button> 
  </form>
{% endblock %}