body {
  font-size: 22px;
  line-height: 1.4;
  font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: rgb(255,110,110);
  text-decoration: underline;
}

article {
  width: 75%;
  max-width: calc(75% - 1rem);
  margin-left: 5%;
}

aside {
  width: 20%;
  max-width: calc(20% - 1rem);
  padding-top: 25px;
}

code {
  color: #444;
  background: #efefef;
  font-family: "Source Code Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  word-break: break-all;
  word-wrap: break-word;
  font-size: inherit !important;
  border-radius: 0.35rem;
  padding: 0.15rem;
}

footer {
  margin-top: 25px;
  margin-left: 5%;
}

h1 {
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 15px;
  background-color: rgb(255,110,110);
  color: white;
  border-bottom: none;
}

nav {
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 5%;
}

section {
  padding-top: 10px;
  margin-bottom: -5px;
}

table {
  table-layout: fixed;
}

td {
  border: none;
  padding: 5px;
}

textarea {
  height: 12em;
}

.active {
  font-weight: bold;
}

.fa-exclamation-circle {
  color: red;
}

input[type="text"].input-wide,
input[type="password"].input-wide,
textarea.input-wide {
  width: 400px;
}

input[type=checkbox] {
  transform: scale(1.5);
  vertical-align: middle;
}

.add-header {
  font-weight: bold;
  font-size: 1.4em;
}

.change-enhancement {
  color: #444;
  background: #9fa8da;
  word-break: break-all;
  word-wrap: break-word;
  font-size: inherit !important;
  border-radius: 0.35rem;
  padding: 0.15rem 0.25rem;
}

.change-enhancement:before {
  content: "enhancement";
}

.change-bugfix {
  color: #444;
  background: #da9f9f;
  word-break: break-all;
  word-wrap: break-word;
  font-size: inherit !important;
  border-radius: 0.35rem;
  padding: 0.15rem 0.25rem;
}

.change-bugfix:before {
  content: "bugfix";
}

.change-new {
  color: #444;
  background: #9fc390;
  word-break: break-all;
  word-wrap: break-word;
  font-size: inherit !important;
  border-radius: 0.35rem;
  padding: 0.15rem 0.25rem;
}

.change-new:before {
  content: "new feature!";
}

.change-list li {
  margin-bottom: 0.15rem;
}

.flash:before {
  content: '❧';
}

.flash {
  font-weight: bold;
  font-style: italic;
}

.project {
  margin-bottom: 15px;
}

.project-title {
  font-size: 1.8em;
  font-weight: bold;
}

.task-checkbox {
  padding-left: 10px;
}

.task-complete, .task-complete .task-details a {
  font-style: italic;
  color: rgba(0,0,0,.4) !important;
}

.task-details {
  text-align: left;
  word-wrap: break-word;
  white-space: normal;
}

.task-hover {
  cursor: pointer;
}

#due_date {
  width: 250px;
}

/******
from marx.css
******/

input[type="text"],
input[type="password"],
select,
textarea {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.8);
  display: inline;
  padding: 4px;
  vertical-align: middle;
  font-size: 18px;
}

button {
  background: rgb(255,110,110);
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: 8px 16px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  font-size: 22px;
  font-family: "PT Sans","Helvetica Neue", Helvetica, Arial, sans-serif;
}

button:hover {
  background: rgb(204,87,87);
  border-color: 1px solid rgba(0, 0, 0, 0.54); }

@media screen and (max-width: 40rem) {
  article {
    width: inherit;
    max-width: inherit;
  }

  aside {
    width: inherit;
    max-width: inherit;
  }

  input[type="text"].input-wide,
  input[type="password"].input-wide,
  textarea.input-wide {
    width: 20rem;
  }
}