body {
  font-size: 22px;
  line-height: 1.4;
  font-family: "PT Serif","Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: rgb(255,110,110);
  text-decoration: underline;
}

article {
  width: 75%;
  max-width: calc(75% - 1rem);
  margin-left: 5%;
}

aside {
  width: 25%;
  max-width: calc(25% - 1rem);
  padding-top: 25px;
}

code {
  color: #444;
  background: #efefef;
  font-family: "Source Code Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  word-break: break-all;
  word-wrap: break-word;
  font-size: inherit !important;
  border-radius: 0.35rem;
  padding: 0.15rem;
}

footer {
  margin-top: 25px;
  margin-left: 5%;
}

h1 {
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 15px;
  background-color: rgb(255,110,110);
  color: white;
  border-bottom: none;
}

nav {
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 5%;
}

section {
  padding-top: 10px;
  margin-bottom: -5px;
}

table {
  table-layout: fixed;
}

td {
  border: none;
  padding: 5px;
}

textarea {
  height: 12em;
}

.active {
  font-weight: bold;
}

.fa-exclamation-circle {
  color: red;
}

.fa-circle:hover {
  color: green;
  cursor: pointer;
}

input[type="text"].input-wide,
textarea.input-wide {
  width: 400px;
}

input[type=checkbox] {
  transform: scale(1.5);
  vertical-align: middle;
}

.task-checkbox {
  padding-left: 10px;
}

.task-complete {
  font-style: italic;
  color: grey;
}

.task-details {
  text-align: left;
  word-wrap: break-word;
  white-space: normal;
}

/******
from marx.css
******/

input[type="text"],
select,
textarea {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.8);
  display: inline;
  padding: 4px;
  vertical-align: middle;
  font-size: 18px;
}

button {
  background: rgb(255,110,110);
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: 8px 16px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap; }

button:hover {
  background: rgb(204,87,87);
  border-color: 1px solid rgba(0, 0, 0, 0.54); }

@media screen and (max-width: 40rem) {
  article {
    width: inherit;
    max-width: inherit;
  }

  aside {
    width: inherit;
    max-width: inherit;
  }
}