<!DOCTYPE html>
<html>
<head>
  <title>{{t}} / everything is bees</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="csrf-token" content="{{csrf_token()}}">
  <link rel="shortcut icon" href="/static/hourglass.png"/>
  {% assets "css_lib" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" />
  {% endassets %}
  {% block page_css %}{% endblock %}
</head>
<body>
  {% macro render_field(field, placeholder=None, show_label=None, size="form-size", form_css="input-wide") %}
    {% if field.errors %}
      <span class="has-error inline-form {{size}}">
    {% elif field.flags.error %}
      <span class="has-error inline-form {{size}}">
    {% elif field.type == 'HiddenField' %}
      <span>
    {% else %}
      <span class="inline-form {{size}}">
    {% endif %}
    {% if show_label and field.type != 'HiddenField' %}
      <label>{{field.label}}</label>:
    {% endif %}
      {% set css_class = form_css + ' ' + kwargs.pop('class', '') %}
      {{ field(class=css_class, placeholder=placeholder, **kwargs) }}
    </span>
  {% endmacro %}

  <div>
    {% if current_user.username %}
    <nav>
      <a href="/tasks" {%if m == 'tasks'%}class="active"{%endif%}>tasks</a> / <a href="/projects" {%if m == 'projects'%}class="active"{%endif%}>projects</a> / <a href="/users/edit/{{current_user.id}}" {%if m == 'users'%}class="active"{%endif%}>settings</a>
    </nav>
    {% if m == 'tasks' and not hide_subnav %}
    <nav style="margin-top:-0.5em; width: 60%">
      >>&nbsp;<a href="/tasks/add">add task</a>
    </nav>
    {% endif %}
    {% if m == 'projects' and not hide_subnav %}
    <nav style="margin-top:-0.5em; width: 60%">
      >>&nbsp;<a href="/projects/add">add project</a> / <a href="/projects/all">show inactive</a>
    </nav>
    {% endif %}
    {% else %}
    <nav>
      everything is bees / <a href="/login">return to login</a>
    </nav>
    {% endif %}
    <article>
      <div>
        {% with errors = get_flashed_messages(category_filter=["error"]) %}
          {% if errors %}
            <p class="flash error">
              {% for error in errors %}
                {{error}}<br>
              {% endfor %}
            </p>
          {% endif %}
        {% endwith %}
        {% with successes = get_flashed_messages(category_filter=["success"]) %}
          {% if successes %}
            <p class="flash success">
              {% for success in successes %}
                {{success}}<br>
              {% endfor %}
            </p>
          {% endif %}
        {% endwith %}

        {% if form is defined and form.errors %}
          <p class="flash error">
            {% for field, error in form.errors.items() %}
              {% for e in error %}
                {{e}}<br>
              {% endfor %}
            {% endfor %}
          </p>
        {% endif %}
      </div>
      {% block content %}{% endblock %}
    </article>
    {% if current_user.username %}
    <footer>
      <a href="/logout">logout</a> / <a href="/changes">change log</a>
    </footer>
    {% endif %}
  </div>
  {% assets "js_lib" %}
    <script type="text/javascript" src="{{ASSET_URL}}"></script>
  {% endassets %}
</body>
</html>