{% extends '/base.html' %}

{% block content %}
  <form method="POST" action="" accept-charset="UTF-8" role="form">
    {{form.csrf_token}}  
    {{render_field(form.username, show_label="T", placeholder="b0bd0le")}}<br/>
    {{render_field(form.password, show_label="T", placeholder="123password")}}<br/>
    {{render_field(form.email, show_label="T", placeholder="beep@boop.com")}}<br/><br/>
    <button id="submit" type="submit" name="submit" class="btn btn-primary btn-lg">
      <i class="fal fa-id-badge"></i> register
    </button> 
  </form>
{% endblock %}