{% extends '/base.html' %}

{% block content %}
  <p>
    <span class="add-header">hey, {{current_user.username}}, whatchu gonna start workin' on?</span>
  </p>
  <form method="POST" action="" accept-charset="UTF-8" role="form">
    {{form.csrf_token}}  
    <div>
      i need to {{render_field(form.task, placeholder="do something of moderate importance")}} for {{render_field(form.project)}}<br/>
      it needs to be done {{render_field(form.due_when)}}
      <br/>
      is high priority? {{render_field(form.high_priority)}}
      <br/>
      {{render_field(form.notes, placeholder="notes")}}
      <br/><br/>
      <button id="submit" type="submit" name="submit">
        <i class="fal fa-save"></i> save task
      </button> 
    </div>
  </form>
{% endblock %}