<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="author" content="End of Line Seven Productions">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="csrf-token" content="{{csrf_token()}}">
  {% assets "css_lib" %}
    <link rel="stylesheet" href="{{ASSET_URL}}" />
  {% endassets %}

  <title>login / everything is bees</title>
</head>

<body>

<div>
  <form class="form-signin" method="POST">
    <div>
      <h1>everything is bees</h1>
    </div>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <p>
          {% for msg in messages %}
            {{msg}}<br>
          {% endfor %}
        </p>
      {% endif %}
    {% endwith %}
    {% if form is defined and form.errors %}
      <p class="error">
        {% for field, error in form.errors.items() %}
          {% for e in error %}
            {{e}}<br>
          {% endfor %}
        {% endfor %}
      </p>
    {% endif %}
    <div class="login-wrap">
      {{ form.csrf_token }}
      <table>
        <tr>
          <td><label>{{form.email.label}}</label>:</td>
          <td>{{form.email}}</td>
        </tr>
        <tr>
          <td><label>{{form.password.label}}</label>:</td>
          <td>{{form.password}}</td>
        </tr>
      </table>
      <br/>
      <button type="submit">
        <i class="fal fa-rocket"></i> login
      </button>
    </div>
  </form>
</div>

<p style="width: 50%;">
  everything is bees is a priority and project based task tracker. you can <a href="/users/register" style="color: rgb(255,110,110);">register here</a>. send comments, complaints, and feature requests to the person who told you about this, it'll get back to me eventually. unless they think your idea isn't good, then sucks to suck, i guess.
</p>

</body>
</html>
